/* floral white: f9f6ef
glaucous blue #7282e0
graphite #2a2b2a
golden sun #f2c94c
exuberant orange #eb5a2a
jungle teal #4b8e83
font outfit bold and nunito */

@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Outfit:wght@100..900&display=swap');


/* ////////////FONT BREAK/////////////// */

.outfit-bold {
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: <700>;
  font-style: bold;
}


.nunito-reg {
  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}
/* ////////////BREAK/////////////// */
/* html {
  height: 100vh;
} */
body {
  margin: 0;
  min-height: 100vh;
  background-color: #E2D3Bf;
  /* position: absolute; */
 
  /* display: flex;
  flex-direction: row;
  justify-content: center; */
}
body > h1::after {
    content: "✨";
}
body > h1:hover::before {
    /* background-color: linear-gradient(to bottom skyblue violet); */
  background-color: yellow;
  content: "This is a :hover pseudo-class";
  position: absolute;
  top: 95px;
  padding: 2px;
  font-size: 16px;
}

h1{
    text-align:center;
    font-size: 70px;
}

.title {
  position: relative;
    top: 25px;
}

.banner {
    display: flex;
    justify-content: center;
}

.info {
   font-size: 18px;
    padding: 50px 50px 50px 50px;
}

.infoContainer {
    display:flex;
    flex-direction: column;
}

.center {
    text-align: center;
}
/* /////////////////IMGs////////////////////// */
.smartGoalsBanner{
    width: 70%;
    height:70%;
}