/* floral white: f9f6ef
glaucous blue #7282e0
graphite #2a2b2a
golden sun #f2c94c
exuberant orange #eb5a2a
jungle teal #4b8e83
font outfit bold and nunito */

@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');


/* ////////////////////FONT BREAK///////////////////// */

.outfit-bold {
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: bold;
}


.nunito-reg {
  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}
/* ///////////////////////BREAK//////////////////// */
/* html {
  height: 100vh;
} */
body {
  margin: 0px;
  min-height: 100vh;
  background-color: #E2D3Bf;
  /* position: absolute;
 
  display: flex;
  flex-direction: row;
  justify-content: center; */
}
/* body > h1::after {
    content: "✨";
} */
/* body > h1:hover::before {
    background-color: linear-gradient(to bottom skyblue violet);
  background-color: yellow;
  content: "This is a :hover pseudo-class";
  position: absolute;
  top: 95px;
  padding: 2px;
  font-size: 16px;
} */



h1 , h2{
    text-align:center;
    font-size: 70px;
}

h3{
  text-align: center;
  font-size: 20px;
  font-family: 'outfit';
}


p , li{
  font-family: 'nunito';
  font-size: 24px;
}

label{
  font-family: 'nunito';
  font-size: 24px;
  font-weight: bold;
  padding: 15px;
}

form{
  display:flex;
  flex-direction: column;
  align-items: center;
}

textarea{
  font-family: 'roboto';
  color: #555;
  border-radius: 8px;
  padding: 10px;
}


/* /////////////////CLASSES///////////////////// */
 

.imgContainer {
    display: flex;
    justify-content: center;
    align-content: center;
    margin: 0 auto;
}

.smartGoalsBanner {
  width: 100%;
  max-width: 600px;
height: auto;
}

/* .smartGoalsBanner{
    width: 70%;
    height:70%;
} */

.about {
   font-size: 18px;
    padding: 50px 50px 50px 50px;
    background-color: #f9f6ef;
    margin-top: 50px;
    /* width: 100%; */
}
.section {
   font-size: 18px;
    padding: 50px 50px 50px 50px;
    margin-top: 0px;
}

/* .infoContainer {
    display:flex;
    flex-direction: column;
} */

.center {
    text-align: center;
}

.radioInput{
  display: flex;
  flex-direction: column;
}



.cardItems{
max-width: 400px;
padding-left: 25px;
}
.card{
background: #f9f6ef;
border-radius: 15px;
}

.select{
  width: 750px !important;
  height: 40px;
  field-sizing: large;
  color:#eb5a2a;
  font-size: 25px;
}
.elements{
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 25px 0 0 25px;
}

/* .elements > p {
  font-size: 8px;
} */

.elementName{
  /* padding-top: 5px; */
  padding-right: 2px;
}

.individualElement
{
  display: flex;
  flex-direction: row;
}

button {
  /* Variables */
  --button_radius: 0.75em;
  --button_color: #e8e8e8;
  --button_outline_color: #000000;
  font-size: 17px;
  font-weight: bold;
  border: none;
  cursor: pointer;
  border-radius: var(--button_radius);
  background: var(--button_outline_color);
  margin-top: 20px;
}

.button_top {
  display: block;
  box-sizing: border-box;
  border: 2px solid var(--button_outline_color);
  border-radius: var(--button_radius);
  padding: 0.75em 1.5em;
  background: var(--button_color);
  color: var(--button_outline_color);
  transform: translateY(-0.2em);
  transition: transform 0.1s ease;
}

button:hover .button_top {
  /* Pull the button upwards when hovered */
  transform: translateY(-0.33em);
}

button:active .button_top {
  /* Push the button downwards when pressed */
  transform: translateY(0);
}
/* .formContainer{
display: flex;
justify-content: center;
} */

/* ////////////////////IDs/////////////////////// */
#ex-orange{
  color: #eb5a2a;
  /* font-style: bold; */
}
#grey{
  color: #d7d9d7;
  /* font-style: bold; */
}
#gl-blue{
  color: #7282e0;
  /* font-style: bold; */
}
#jun-teal{
  color: #4b8e83;
  /* font-style: bold; */
}

#sun{
  /* color: #f2c94c; */
  color: #EEB91B;
  /* font-style: bold; */
}
#graphite{
  /* color: #f2c94c; */
  color: #2a2b2a;
  /* font-style: bold; */
}

#cardCategory {
  padding-top: 25px;
}

/* #questionNumber, #questionText {
  text-align: center;
} */

/* /////////////////Card IDs////////////////////// */
#specific , #measurement, #achieve, #relative, #timeBound {
  font-size: medium;
  padding-top: 9px;
}

#O , #C , #E , #A , #N {
  padding-right: 10px;
}

#symbolContainer{
  margin-left: 25px !important;
}